<div>
    <div #map id="map"></div>
    <div class="alert">
        <a class="button"><i class="material-icons">verified_user</i></a>
        <p> <strong>Evita la propagación</strong> <br/> Viaja sólo lo necesario</p>
    </div>
    <div class="search">
        <input type="text" placeholder="Where to?" />
    </div>
    <ul class="destinations">
        <li><a class="button" (click)="requestTo('home')"><i class="material-icons">home</i><p><strong>Home</strong><br/> La Pradera Sopetran</p></a></li>
        <li><a class="button"><i class="material-icons">work</i><p><strong>Work</strong><br/> Globant Medellín</p></a></li>
    </ul>
</div>

